html, body {
        margin:         1% 1%;
	padding:        0;
	border:         0;
	width:          98%;
	min-width:      600px;
	background:     #000;
	font-size:      14px;
	font-family:    sans-serif;
	color:          #000;
}

a:link, a:visited {
	text-decoration:	none;
	color:                  #57c;
}
a:hover {
	text-decoration:        none;
	color:                  #7af;
}

textarea {
	width:	100%;
	height: 80%;
}

#Container0 {
	position:       relative;
	clear:          both;
	float:          left;
	width:          100%;
	overflow:       hidden;

	background:     #eef;	/* background of the right column */
}

#Container1 {
	position:       relative;
	float:          left;
	width:          100%;
	
	right:          80%;    /* width of the right column  */
	
	background:     #ffe;   /* background of the left column */
}

#Left {
	width:	18%;	/* 1% margin */
	left:	81%;	/* Container1:right + 1 x margin */	
	color:  #000;
	text-align: left;
}

#Right {
	width:	78%;	/* 1% margin */
	left:	83%;	/* Container1:right + 3 x margin */	
	color:  #000;
	text-align: justify;
}

#Left, #Right {
	float:          left;
	position:       relative;
	padding:        0.5em 0 0 0;
	overflow:       hidden;
	/*border: 1px solid red;*/
}

#Left ul {
	display:		block;
	list-style-type:	none;
	margin: 0;
	padding: 0;
}

#Actions {
	margin: 4px;
	text-align:	right;
}
